/* JavaFX CSS*/

.table-view {
	-fx-background-color: black;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: black;
    -fx-text-base-color: red;
    
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-background-color: black;
}

.screeningAlreadyInProgress{
	-fx-text-base-color: red;
}