/* JavaFX CSS*/

.text-area {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: black;
}

.button{
	-fx-background-color: none;
	-fx-border-color: yellow;
	-fx-border-radius: 4px;
	-fx-text-fill: yellow;
}

.button:hover{
	-fx-background-color: red;
}



